.hike-list{
    padding-top: 175px;
    padding-bottom: 150px;
    margin: 0 45px 0 45px;
    order: 0;
}
.hike-page{
    display: flex;
    flex-direction: column
}

.hike-header{
    color: #3a4928;
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: bold;
    
}

.hike-card{
    padding: 20px 10px;
}

.hike-delete-button{
    cursor: pointer;
    padding-top: 7px;
}

.hike-delete-button:hover{
    color:#242422;
    opacity: 0.6;
}

.trail-content{
    color: #4b6b3c;
}

.trail-name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hike-card-info p{
    margin: 0;
}

.trail-card-title{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 2px;
}

.hike-form{
    padding-bottom: 75px;

}

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: left;
    color: #4b6b3c;
    order: 1;

}

label{
    margin: 0;
    padding: 10px 0;
    width: 50%;
    color: #4b6b3c;
}

.input-text{
    width: 50%;
    float: right;
    border: 2px solid #3a4928;
    color: #4b6b3c;
}

.input-range{
    width: 50%;
    float: right;
}

.input-range::-webkit-slider-runnable-track{
    background-color: #fffaed;
    border: 2px solid #3a4928;
    border-radius: 10px;
}

.input-range::-webkit-scrollbar-track-piece{
    background-color: #4b6b3c;
}

.input-range::-webkit-slider-thumb{
    background-color: #4b6b3c;
    border: 2px solid #3a4928;
    cursor: pointer;
}

.submit-btn{
    font-weight: bold;
    background-color: #fffaed;
    border: 2px solid #3a4928;
    color: #4b6b3c;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

#incomplete{
    text-align: center;
    margin: 0;
}

.incomplete-c{
    padding-top: 40px;
}