.trail-list{
    padding-top: 175px;
    padding-bottom: 300px;
    margin: 0 45px 0 45px;
}

.trail-list-header{
    color: #3a4928;
    font-size: 35px;
    margin-bottom: 50px;
}

.trail-card{
    cursor: pointer;
    padding: 20px 10px;
}

.trailcard-content{
    color: #4b6b3c;
}

.trail-name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.trail-card-info p{
    margin: 0;
}

.trail-location{
    padding-bottom: 10px;
}

.trail-card-title{
    font-weight: bold;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }

.search-input {
    outline: none;
    display: flex;
    width: 100%;
    height: 40px;
    font-size:15px;
    text-align: left;
    padding-left: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #614c33;
    background-color: #fffaed;
    color: #4b6b3c;
}


